<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
    <div class="container">
        <a class="navbar-brand navbar-text-white" href="#">WebSiteName</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Master Data <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="/mahasiswa">Data Mahasiswa</a></li>
                        <li><a class="dropdown-item" href="/dosen">Data Dosen</a></li>
                        <li><a class="dropdown-item" href="/staff">Data Staff</a></li>
                        <li><a class="dropdown-item" href="/admin">Data Admin</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Page 2</a>
                </li>
            </ul>
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
<form class="d-flex" action='/cari' method="POST">
  <input type="text" name="cari" placeholder="Cari..." required>
  <input type="hidden" name="target" id="target" value="<%= target %>">
  <button type="submit">Cari</button>
</form>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                            fill="currentColor" class="bi bi-box-arrow-in-right" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                d="M9.5 11a.5.5 0 0 0 0-1H4.707l1.647-1.646a.5.5 0 1 0-.708-.708l-2.5 2.5a.5.5 0 0 0 0 .708l2.5 2.5a.5.5 0 0 0 .708-.708L4.707 12H9.5z" />
                            <path fill-rule="evenodd"
                                d="M10 4.5a.5.5 0 0 0-.5-.5H6a.5.5 0 0 0 0 1H9v8H6a.5.5 0 0 0 0 1h3.5a.5.5 0 0 0 .5-.5V4.5z" />
                        </svg> Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
